/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section0
   d. Resume Section
   e. Portfolio Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Sometype+Mono&family=Source+Serif+4:ital,opsz,wght@0,8..60,300;0,8..60,400;1,8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300&family=Cormorant+Infant:ital,wght@0,300;0,400;1,400&family=EB+Garamond:ital@0;1&family=IBM+Plex+Mono:ital,wght@0,300;0,400;1,300&family=Inconsolata:wght@300;400&family=Merriweather&family=Noto+Serif:ital,wght@0,300;0,400;1,300&family=Old+Standard+TT&family=PT+Mono&family=Sometype+Mono&family=Source+Serif+4:ital,opsz,wght@0,8..60,300;0,8..60,400;1,8..60,300&family=Space+Mono:ital@0;1&family=VT323&family=Xanh+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
   background: #fff;
}

html {
   box-sizing: border-box;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

div {
   font-family: 'Cormorant Garamond' !important;
}

.themedark {
   background-color: #212121 !important;
   color: white !important;
   transition: 0.8s;
}

.themelight {
   background-color: #ffffff !important;
   color: rgb(27, 27, 27);
   transition: 0.8s;
}

header#home {
   position: relative;
   /* height: 800px; */
   min-height: 701px;
   width: 100%;
   /* margin: 10px 60px 0px 60px; */
   /* background: #161415 url(../images/header-background.jpg) no-repeat top center; */
   background-size: cover !important;
   -webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

img#headerpic {
   width: auto;
   overflow: hidden;
   /* position: absolute;
   left: 50%; */
}

.container {
   color: white;
   position: relative;
}

.container2 {
   color: white;
   position: relative;
}

.top-left {
   transition: 0.2s ease-in-out;
}

.top-left:hover {
   transform: scale(1.05);
   transition: 0.2s ease-in-out;
   /* transition: width 0.6s ease;
   content: "";
   display: block;
   height: 7px;
   border-bottom: 1.5px solid rgb(43, 43, 43) !important;
   width: 0%; */
}

.banner:hover div.top-left span#play-button:after {
   /* border-bottom: 1px solid white; */
   /* transform: scale(1.035); */
   width: 23%;
   color: rgb(43, 43, 43) !important;
}

#play-button {
   color: rgb(43, 43, 43) !important;
   cursor: pointer;
}

#play-button::selection {
   color: white !important;
}

#play-button i::selection {
   color: white !important;
}

.fa-play::selection {
   background-color: white !important;
}


.black {
   bottom: 15px !important;
   top: none !important;
   /* color: rgb(50,50,50) !important; */
}

.top-left {
   position: absolute;
   top: 15px;
   left: 20px;
   font-family: 'Cormorant Garamond';
   font-weight: 400;
   /* text-transform: uppercase; */
   letter-spacing: 1.5px;
   font-size: 16px;
   text-align: left;
   padding-top: 10px;
   /* writing-mode: vertical-lr;
    text-orientation: upright; */
   font-weight: 700;
   background: none;
   line-height: 9px;
}

.bottom-right {
   position: absolute;
   /* bottom: 15px; */
   right: 15px;
   font-family: 'Cormorant Garamond';
   font-weight: 400;
   /* text-transform: uppercase; */
   letter-spacing: 1.5px;
   font-size: 14px;
   color: black;
   text-align: left;
   padding-top: 10px;
   font-weight: 700;
   background: none;
   line-height: 9px;
   z-index: 1000;
}

.bottom-leftt {
   position: absolute;
   /* bottom: 15px; */
   left: 15px;
   font-family: 'Cormorant Garamond';
   font-weight: 400;
   /* text-transform: uppercase; */
   letter-spacing: 1.5px;
   font-size: 14px;
   color: black;
   text-align: left;
   padding-top: 10px;
   font-weight: 700;
   background: none;
   line-height: 9px;
   z-index: 1000;
}

.bottom-left-2 {
   position: absolute;
   top: 15px;
   right: 15px;
   font: 15px 'Cormorant Garamond';
   letter-spacing: 1.5px;
   text-align: left;
   width: auto;
   color: #212121;
   font-weight: 700;
   cursor: default;
   z-index: 1000;
}


.menu-hide {
   opacity: 0;
   visibility: hidden;
}



/* Styling of overlay */
.bm-overlay {
   background: none !important;
}

*/ header#blog {
   position: relative;
   /* max-height: 800px; */
   /* min-height: 500px; */
   /* height: 10px !important; */
   color: black !important;
   /* height: 800px;
   min-height: 300px; */
   /* width: 100%; */
   margin: 48px 20px 20px 20px;
   background: #161415 url(../images/blog-header.jpg) no-repeat top center;
   background-size: cover !important;
   -webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}

header .banner {
   /* transition: height 1s ease;
   display: inline-block;
   margin: 0px auto;
   padding: 100px 0px 50px 0px;
   width: 90%;
   max-width: 1075px;
   text-align: center;
   position: relative;
   height: inherit; */
}

.folderText {
   font-size: 28px;
   font-family: "Cormorant Garamond";
   font-style: 'italic';
   font-weight: '400';
   color: #111111;
}

div.folderIcon:hover .folderText {
   letter-spacing: 2px !important;
}

.slider {
   height: 100% !important;
}

.slider-frame {
   border: 0.5px solid #737373;
}

header .banner:-webkit-full-screen {
   max-width: 1150px;
}

header .banner:-moz-full-screen {
   max-width: 1150px;
}

header .banner:-ms-full-screen {
   max-width: 1150px;
}

#home h6 {
   position: absolute;
   margin-bottom: 10;
   top: 85px;
   left: -60px;
   transform: rotate(-90deg);
   font: 14px 'Cormorant Garamond';
   text-transform: uppercase;
   letter-spacing: 1px;
}

div .banner-text {
   width: 100%;
   display: none;
   /* color: white !important; */
}

div .banner-text h1 {

   font: 70px/1.1em 'Montserrat', sans-serif !important;
   ;
   /* font: 75px/1.1em 'Cormorant Garamond', serif !important; */
   font-weight: 300 !important;
   /* text-transform: uppercase; */
   color: white;
   letter-spacing: 0.5px;
   /* color: rgb(34, 34, 34); */
   margin: 0 auto 0px auto;
   text-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
}

header .banner-text h3 {
   font: 12px/1.9em 'montserrat', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   /* color: rgb(32, 32, 32); */
   color: white;
   margin: auto;
   width: 70%;
   text-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
}

header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}

header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(110, 110, 110, 0);
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 20px;
   text-shadow: 0px 1px 1px rgba(0, 0, 0, .3);
}


header .social a li {
   display: inline-block;
   padding: 2px 15px;
}

header .social a {
   color: rgb(247, 247, 247);
   /* color: rgb(39, 39, 39);  */
}

header .social a li:hover {
   color: rgb(255, 255, 255);
}

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

header .scrolldown a:hover {
   color: rgb(175, 175, 175);
}


/* primary navigation
--------------------------------------------------------------------- */
/* span.control {
   display: block;
   height: 28px;
   margin-top: -8px;
} */


#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 14px 'PT Mono';
   width: 100%;
   /* text-transform: uppercase; */
   /* transition: 0.8s; */
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   height: 100px;
   padding: 20px 0px;
   left: 0;
   top: 0;
   background-color: rgb(255, 255, 255);
}

#nav-wrap-2 ul,
#nav-wrap-2 li,
#nav-wrap-2 a {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
}

/* nav-wrap */
#nav-wrap-2 {
   font: 14px 'montserrat', sans-serif;
   width: 100%;
   /* text-transform: uppercase; */
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}

/* #nav-wrap.show-always {
   display: block !important;
} */
/* .opaque { background-color: rgb(255, 255, 255); } */

/* hide toggle button */
#nav-wrap>a.mobile-btn {
   display: none;
}

#nav-wrap-2>a.mobile-btn {
   display: none;
}

ul#nav {
   width: 90%;
   margin: auto;
   max-width: 1000px;
}

#logo {
   text-decoration: none;
   text-align: center;
   /* color: rgb(53, 53, 53) !important; */
   font: 18px 'VT323' !important;
   /* text-transform: uppercase; */
   font-weight: 600;
   position: absolute !important;
   width: 100%;
   left: 0px;
   z-index: 0;
   letter-spacing: 2px;
}

/*
#logo.small {
   line-height: 50px;
} */

#homenav {
   float: right;
   padding-right: 10px;
}

ul#nav li {
   position: relative;
   list-style: none;
   display: inline-block;
   font-size: 13px;
}

/* Links */
/* ul#nav li a.test {
   color: rgb(107, 107, 107) !important;
} */
/* ul#nav li a.current  {

} */
ul#nav li a {

   /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 0px 0px;
   margin: 0px 13px;
   line-height: 20px;
   text-decoration: none;
   text-align: left;
   color: rgb(53, 53, 53) !important;
   font-family: Montserrat;
   font-weight: 600;

   -webkit-transition: color .2s ease-in-out;
   -moz-transition: color .2s ease-in-out;
   -o-transition: color .2s ease-in-out;
   -ms-transition: color .2s ease-in-out;
   transition: color .2s ease-in-out;
}

ul#nav li a:active {
   background-color: transparent !important;
}

li.current {
   display: inline-block;
   vertical-align: middle;
}

li.current a {
   border-bottom: 2px solid rgb(40, 40, 40) !important;
   /* transform: translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   backface-visibility: hidden;
   -moz-osx-font-smoothing: grayscale;
   transition-duration: 0.3s;
   transition-property: transform; */
}

a.current {
   /* border-bottom: 2px solid rgb(40,40,40) !important;   */
   text-decoration: underline !important;
}

div.menu-list a {
   letter-spacing: 1.5px;
   font-weight: 300;
   text-transform: lowercase;
   font-size: 13px;
}


.social-right {
   /* padding-top: 34px; */
   /* line-height: 90px; */
   float: right;
   z-index: 2000;
   /* position: fixed; */
   /* right: 10%; */
}

/*
.social-right.small {
   line-height: 50px;
} */

.social-link {
   color: rgb(40, 40, 40);
   padding: 0px 12px 0px 12px !important;
   z-index: 2001;
}

a.social-link li {
   color: rgb(40, 40, 40);
   /* font-size: 18px !important; */
}

div.social-right a:last-child {
   padding-right: 0 !important;
}

/* span.control {
   height: 38px !important;
   margin-top: -22px;
   font-size: 13px;
} */

/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
   padding-top: 5px;
   padding-bottom: 10px;
}

#portfolio h1 {
   font: 26px/34px 'opensans-semibold', sans-serif;
   text-transform: capitalize;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: #95A3A3;
}

#portfolio h2 {
   font: 30px/36px 'Cormorant Garamond', serif;
   /* font: 28px/34px 'Montserrat', sans-serif; */
   font-weight: 500;
   color: rgb(53, 53, 53);
   text-align: center;
   margin-bottom: -15px;
   margin-right: 20px;
   background: #ffffff;
   z-index: 1000;
   position: relative;
   /* margin-top:50px; */
}

#portfolio h5 {
   /* font: 12px/12px 'montserrat', sans-serif; */
   font: 12px/12px 'Cormorant Garamond', serif;

   font-weight: 600;
   letter-spacing: 1px;
   text-transform: uppercase;
   padding-bottom: 5px;
}

#portfolio .tagline {
   background: #ffffff;
   z-index: 1000;
   position: relative;
   WIDTH: 370PX;
   FLOAT: RIGHT;
}

#portfolio .subline {
   /* font: 15px/24px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px; */
   /* text-align: center; */
   margin-bottom: 33px;
   color: rgb(90, 90, 90);
}

/* div.portfolio-item:first-child {
   margin-left: -20px;
} */

/* Portfolio Content */
#portfolio-wrapper {
   margin-top: 20px;
   margin-left: -5px;
   margin-right: -5px;


}

.portfolio-item .item-wrap {
   background: rgb(255, 255, 255, 0);
   overflow: hidden;
   position: relative;

   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.portfolio-item .item-wrap a {
   display: block;
   cursor: pointer;
}

/* overlay */
.overlay {
   opacity: 0;
   /* position: fixed;
   top: 85%;
  left: 50%;
   height: 500px;
   width: 400px;
   pointer-events: none; */
   z-index: 100;

   /* display: none; */
   /* opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0); */

   -webkit-transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
   transition: opacity 0.3s ease-in-out;

   background: url(../images/overlay-bg.png) repeat;
}

.portfolio-item .item-wrap .link-icon {
   display: block;
   color: #fff;
   height: 30px;
   width: 30px;
   font-size: 18px;
   line-height: 30px;
   text-align: center;

   opacity: 0;
   -moz-opacity: 0;
   filter: alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
   transition: opacity 0.3s ease-in-out;

   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -15px;
   margin-top: -15px;
}

.portfolio-item .item-wrap img {
   vertical-align: bottom;
}

/* .portfolio-item .portfolio-item-meta { padding: 18px } */
.portfolio-item .portfolio-item-meta h5 {
   font: 14px/21px 'opensans-bold', sans-serif;
   /* color: rgb(76, 76, 76); */
}

.portfolio-item .portfolio-item-meta p {
   font: 11px/18px 'opensans-light', sans-serif;
   color: #454545;
   margin-bottom: 0;
}

.portfolio-item:hover .item-wrap .overlay {
   opacity: 0.9;
   -moz-opacity: 0.9;
   filter: alpha(opacity=90);
}

.portfolio-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

   opacity: 0;
   -moz-opacity: 0;
   filter: alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
   transition: opacity 0.3s ease-in-out;

   background: url(../images/overlay-bg.png) repeat;
}

/* popup modal */
.popup-modal {
   max-width: 550px;
   background: #fff;
   position: relative;
   margin: 0 auto;
}

.popup-modal .description-box {
   padding: 12px 36px 18px 36px;
}

.popup-modal .description-box h4 {
   font: 15px/24px 'opensans-bold', sans-serif;
   margin-bottom: 12px;
   color: #111;
}

.popup-modal .description-box p {
   font: 14px/24px 'opensans-regular', sans-serif;
   color: #A1A1A1;
   margin-bottom: 12px;
}

.popup-modal .description-box .categories {
   font: 11px/21px 'opensans-light', sans-serif;
   color: #A1A1A1;
   text-transform: uppercase;
   letter-spacing: 2px;
   display: block;
   text-align: left;
}

.popup-modal .description-box .categories i {
   margin-right: 8px;
}

.popup-modal .link-box {
   padding: 18px 36px;
   background: #111;
   text-align: left;
}

.popup-modal .link-box a {
   color: #fff;
   font: 11px/21px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   cursor: pointer;
}

.popup-modal a:hover {
   color: #00CCCC;
}

.popup-modal a.popup-modal-dismiss {
   margin-left: 24px;
}


/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
   opacity: 0;
   -webkit-transition: all 200ms ease-in-out;
   -moz-transition: all 200ms ease-in-out;
   -o-transition: all 200ms ease-in-out;
   -ms-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}

/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
   opacity: 1;
}

/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
   opacity: 0;
}

/* ------------------------------------------------------------------ */
/* f. Call To Action Section
/* ------------------------------------------------------------------ */

#call-to-action {
   background: #212121;
   padding-top: 66px;
   padding-bottom: 48px;
}

#call-to-action h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
}

#call-to-action h1 span {
   display: none;
}

#call-to-action .header-col h1:before {
   font-family: 'FontAwesome';
   content: "\f0ac";
   padding-right: 10px;
   font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #fff;
}

#call-to-action .action {
   margin-top: 12px;
}

#call-to-action h2 {
   font: 28px/36px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}

#call-to-action h2 a {
   color: inherit;
}

#call-to-action p {
   color: #636363;
   font-size: 17px;
}

/*#
call-to-action .button {
	color:#fff;
   background: #0D0D0D;
}
*/
#call-to-action .button:hover,
#call-to-action .button:active {
   background: #FFFFFF;
   color: #0D0D0D;
}

#call-to-action p span {
   font-family: 'opensans-semibold', sans-serif;
   color: #D8D8D8;
}


/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus {
   outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
   margin: 0;
   padding: 0;
   list-style: none;
}

.slides li {
   margin: 0;
   padding: 0;
}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}

.flexslider .slides {
   zoom: 1;
}

.flexslider .slides>li {
   position: relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides>li {
   display: none;
   -webkit-backface-visibility: hidden;
}

/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container {
   zoom: 1;
   position: relative;
}

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}

.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides>li:first-child {
   display: block;
}

/* Slider Styles */
.slides {
   zoom: 1;
}

.slides>li {
   /*margin-right: 5px; */
   overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
   width: 100%;
   position: absolute;
   bottom: -20px;
   text-align: left;
}

.flex-control-nav li {
   margin: 0 6px;
   display: inline-block;
   zoom: 1;
   display: inline;
}

.flex-control-paging li a {
   width: 12px;
   height: 12px;
   display: block;
   background: #ddd;
   background: rgba(255, 255, 255, .3);
   cursor: pointer;
   text-indent: -9999px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -o-border-radius: 20px;
   border-radius: 20px;
   box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}

.flex-control-paging li a:hover {
   background: #CCC;
   background: rgba(255, 255, 255, .7);
}

.flex-control-paging li a.flex-active {
   background: #fff;
   background: rgba(255, 255, 255, .9);
   cursor: default;
}


/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 0px;
   padding-bottom: 38px;
   color: rgb(40, 40, 40);
   /* background-color: #fff; */
   font-size: 14px;
   text-align: center;
   position: relative;

}

footer.blog {
   padding-top: 38px;
   padding-bottom: 38px;
   color: rgb(40, 40, 40);
   background-color: #fff;
   font-size: 14px;
   text-align: center;
   position: fixed;
   bottom: 0px;
   left: 0px;
   right: 0px;
   margin-bottom: 0px;

}

footer a,
footer a:visited {
   color: rgb(70, 70, 70);
}

footer a:hover,
footer a:focus {
   color: rgb(49, 49, 49);
}

/* copyright */
footer .copyright {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat';
   font-weight: 400;
   font-size: 11px;
   letter-spacing: 1.5px;
   /* text-transform: uppercase; */
}

footer .copyright li {
   display: inline-block;
   margin: 0;
   padding: 0;
   line-height: 24px;
}

.ie footer .copyright li {
   display: inline;
}

footer .copyright li:before {
   content: "\2022";
   padding-left: 10px;
   padding-right: 10px;
   color: #095153;
}

footer .copyright li:first-child:before {
   display: none;
   font-family: 'Montserrat';
   letter-spacing: 1.5px;
   text-transform: uppercase;
}

/* social links */
footer .social-links {
   margin: 30px 0 5px 0;
   padding: 0;
   font-size: 16px;

}

footer .social-links a li {
   display: inline-block;
   margin: 0;
   padding: 2px 15px;
   /* margin-left: 42px; */
}

/* bloglist {
   margin: 0;
} */

p.blogtop {
   margin: 0;
   padding: 0px 0px 10px 0px;
   text-transform: uppercase;
   font: 12px "Montserrat";
   letter-spacing: 1px;
}

.blogimage {
   height: 210px;
}

#blog-headline {
   color: black !important;
   font: 40px "Montserrat" !important;
   text-align: center;
}

div .banner-text h3 {
   font: 12px "Montserrat" !important;
   text-align: center;
}

/* footer .social-links li:first-child { margin-left: 0; } */

/* Go To Top Button */
#go-top {
   position: absolute;
   top: -24px;
   left: 50%;
   margin-left: -30px;
}

#go-top a {
   text-decoration: none;
   border: 0 none;
   display: block;
   width: 60px;
   height: 60px;

   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: rgb(40, 40, 40);
   font-size: 21px;
   line-height: 60px;
   border-radius: 100%;
}

#go-top a:hover {
   background-color: #0F9095;
}

/* Portfolio tabs */

.rwt__tablist {
   font-size: 13px;
   /* margin-left: 10px;
   margin-bottom:10px; */
   padding-left: 30px;
   background-image: url(../images/tabs.png);
   /* background-color: #eaeaea; */
   border-bottom: 0.5px solid #111111;
}

.rwt__tabs[data-rwt-vertical="true"] {
   display: flex;
}

.rwt__tablist:not([aria-orientation="vertical"]) {
   /* border-top: 1px solid rgb(244, 244, 244) !important; */
}

.rwt__tablist[aria-orientation="vertical"] {
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   flex-grow: 0;
   border-right: 1px solid rgb(244, 244, 244);
   margin-right: 1rem;
   margin-left: 20px;
}

button.rwt__tab:first-child {
   margin: 10 25px 0 10px !important;
   border-left: 0.5px solid #111111;

}

.rwt__tab[aria-selected="true"] .browserx {
   /* right: 10px;
   position: absolute;
   top: 0px;
   font-size: 25px; */
   font-style: italic;

}

.rwt__tab[aria-selected="false"] .browserx {
   display: none;

}

.browsero {
   right: 20px;
   position: absolute;
   top: 6px;
   font-size: 25px;
}

.rwt__tab {
   background: transparent;
   border: 0;
   /* font-family: inherit; */
   font-size: 17px;
   font-family: 'Cormorant Garamond';
   font-style: italic;
   font-weight: 400;
   /* font-style:italic; */
   letter-spacing: 0.5px;
   transition: 0.2s ease-in-out;
   margin-top: 5px;
   /* margin: 10px 25px 0px 25px !important; */
   width: 150px;
   border-right: 0.5px solid #111111;
   border-top: 0.5px solid #111111;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   padding: 10px 0px;
   height: 40px;
   bottom: 0px;
   /* bottom: -1px; */

   /* height: 51px; */

   padding: 0.6rem 0rem;
   /* color: rgb(42, 42, 42); */
   /* transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); */
}


.rwt__tab[aria-selected="false"] {
   /* color: #969696 !important; */
   position: relative;
   bottom: -1px;
}

.hvr-grow:hover {
   transform: scale(1.03) !important;
}

.rwt__tab[aria-selected="true"] {
   position: relative;
   /* padding: 10px 0px; */
   color: rgb(42, 42, 42) !important;
   border-left: 0.5px solid #111111;
   /* margin: 5px 25px 0 10px !important; */
   /* height: 10px; */
   border-bottom: 1px solid white;
   z-index: 10;
   background: white !important;
   font-weight: 500;
   bottom: -1px;
   /* bottom: -1px; */
}

.rwt__tab:hover {
   /* transform: scale(1.05);
   transition: 0.2s ease-in-out; */
   transform: scale(1.03);
   color: black;
}

.rwt__tabpanel {
   padding-bottom: 20px;
}

/* .rwt__tab[aria-controls="four"]{
   bottom: -3px !important;
} */

.rwt__tablist:not([aria-orientation="vertical"]) .rwt__tab[aria-selected="false"]:hover+.rwt__tab[aria-selected="true"]:before {
   width: 0;
}

.hover-container {
   position: relative;
   display: block;
   background-image: url("../images/bg-57.png");
   background-size: cover;
   overflow-x: scroll;
   overflow-y: hidden;
   height: 100%;
   border: 0.5px solid black
}

.slider-frame {
   /* position: relative; */
}

.hover-text {
   visibility: hidden;
   color: rgb(40, 40, 40);
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   top: 40%;
   /* margin-left: -60px; */
   opacity: 0;
   transition: opacity 0.3s;
   font-family: montserrat;
   cursor: default;
   font-size: 60px;
   /* text-align: center; */
   width: 100%;
   pointer-events: none;
   user-select: none;
   font-family: 'Source Serif 4', serif;
   /* font-family: 'librebaskerville-light', serif; */
}

.bottom-left {
   position: absolute;
   top: 18px;
   right: 15px;
   font: 16px 'Cormorant Garamond';
   /* font-family: montserrat; */
   /* text-transform: uppercase; */
   letter-spacing: 1.5px;
   text-align: left;
   width: auto;
   color: #212121;
   /* writing-mode: vertical-lr;
    text-orientation: upright; */
   font-weight: 700;
   cursor: default;
}

.hover-container:hover .hover-text {
   visibility: visible;
   opacity: 1;
}

.draggableImage {
   margin-top: 1%;
}

/* .draggableImage {
   transition: box-shadow 0.3s ease-in-out;
 }

 .draggableImage:hover {
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
 }
 */
