/* ==================================================================

*   Ceevee Media Queries
*   url: styleshout.com
*   03-18-2014

/* ================================================================== */

@media only screen and (min-height: 890px) and (min-width: 1200px) {

   /* header styles
  ------------------------------------------------------------------ */
  header .banner {
     max-width: 1150px;
  }

  ul#nav {
      max-width: 1150px;
   }
   .row {
      max-width: 1180px;
   }
   #about {
      padding-top: 70px;
      padding-bottom: 20px;
   }

   /* .fulltest {
      display: none;
   }
   .fulltest2 {
      margin-top: 100px !important;
   } */

}


/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {

    /* header styles
   ------------------------------------------------------------------ */
   header .banner-text h1 {
      font: 80px/1.1em 'opensans-light', sans-serif;
      letter-spacing: -1px;
      margin: 0 auto 0px auto;
   }
   header#home {
      min-height: 500px;
   }

}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

    /* header styles
   ------------------------------------------------------------------ */
   header .banner { padding-bottom: 12px; }
   header .banner-text h1 {
      font: 78px/1.1em 'opensans-light', sans-serif;
      letter-spacing: -1px;      
   }
   header .banner-text h3 {
      font: 12px/1.9em 'montserrat', sans-serif;
      width: 80%;
   }
   header .banner-text hr {
      width: 65%;
      margin: 0px auto;
   }
   /* nav-wrap */
   #nav-wrap {
      font: 11px 'opensans-bold', sans-serif;
      letter-spacing: 1.5px;
   }

   header#home {
      min-height: 500px;
   }

   #logo {
      /* padding: 16px 20px 28px 20px !important; */
   }

   span.control {
      display: block;
      height: 28px;
      margin-top: -8px;
      letter-spacing: 2.5px;
      font-size: 12px;
   }



   /* About Section
   ------------------------------------------------------------------- */
   #about .profile-pic {
      /* width: 114px;
      height: 114px;
      margin-left: 12px; */
   }
   #about .contact-details { width: 50%; }
   #about .download { width: 50%; }

   /* Resume Section
   ------------------------------------------------------------------- */
   #resume h1 { font: 16px/24px 'opensans-bold', sans-serif; }
   #resume .main-col { padding-right: 5%; }   

   /* Testimonials Section
   ------------------------------------------------------------------- */
   #testimonials .header-col h1:before {
      font-size: 66px;
      line-height: 66px;
   }
   #testimonials blockquote p {
      font-size: 22px;
      line-height: 46px;      
   }

    /* Call to Action Section
   ------------------------------------------------------------------- */
   #call-to-action .header-col h1:before {
      font-size: 66px;
      line-height: 66px;
   }

   /* Contact Section
   ------------------------------------------------------------------- */
   #contact .section-head { margin-bottom: 30px; }
   #contact .header-col h1:before {
      font-size: 66px;
      line-height: 66px;
   }
   #contact .section-head p.lead { font: 17px/33px opensans-light, sans-serif; }


}

/* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {

   /* mobile navigation
   -------------------------------------------------------------------- */
   #logo {
      padding: 16px 20px 28px 20px !important;
   }

   span.control {
      display: block;
      height: 20px;
      letter-spacing: 2.5px;
   }

   .bottom-left {
      writing-mode: horizontal-tb;
      text-align: right;
      font-weight: 500;
   }

   /* Header Styles
   -------------------------------------------------------------------- */
   header .banner {
      padding-bottom: 12px;
   }
   header .banner-text h1 { font: 68px/1.1em 'opensans-light', sans-serif; }
   header .banner-text h3 {
      font: 11px/1.9em 'montserrat', sans-serif;
      width: 85%;
   }
   header .banner-text hr {
      width: 80%;
      margin: 18px auto;
   }

   header#home {
      margin: 0px;
      min-height: 0px;
   }
   
   .bottom-left {
      top: 8px;
      right: 8px;
      font-size: 7px;
      letter-spacing: 2px;
      line-height: 12px;
   }


   /* header social links */
   header .social {
      margin: 18px 0 24px 0;
      font-size: 24px;
      line-height: 36px; 
      padding: 0 4px;      
   }
   /* header .social a li { margin: 0 10px; } */
   header .social a li { padding: 0 10px; }

    /* scrolldown link */
   header .scrolldown { display: none; }
   .social-right {display: none;}

   .logo-hide {
      display:none !important;
   }

   
   span.control {
      height: 38px !important;
      margin-top: -22px;
      font-size: 11.5px;
      letter-spacing: 2.5px;
   }

   
   /* .ham-menu {
      margin-left: 23px;
   } */

   /* About Section
   -------------------------------------------------------------------- */
   /* #about .profile-pic { display: none; } */
   #about .download .button {
      width: 100%;
      text-align: center;
      padding: 15px 20px;
   }
   #about .main-col { padding-right: 30px; }

   .mobile-shrink {
      margin-bottom: 15px;
   }


   /* Resume Section
   --------------------------------------------------------------------- */
   #resume .header-col {
      padding-top: 0;
      margin-bottom: 48px;
      text-align: center;
   }
   #resume h1 { letter-spacing: 3px; }
   #resume .main-col { padding-right: 30px; }
   #resume h3, #resume .info { text-align: center; }
   #resume div.header-col {display: none}
   #resume div.main-col {margin: 0; text-align: center; padding: 30px 30px 10px 30px}
   #resume .row.skill {margin-top:0px !important}
      
   .bars { width: 100%; }



   /* Portfolio Section
   /* ----------------------------------------------------------------- */
   #portfolio-wrapper .columns { margin-bottom: 40px; }
   .popup-modal {	max-width: 85%; }
   #portfolio h2 {margin-bottom: 5px}

   .rwt__tablist { margin-left: 27px; }
   .portfolio-item.columns { padding: 0px 30px !important;}


   /* footer
   ------------------------------------------------------------------------ */
  
   /* copyright */
   footer .copyright li:before { content: none; }
   footer .copyright li { margin-right: 12px; }

   /* social links */
   footer .social-links { font-size: 14px; }
   footer .social-links a li { padding: 0 10px; }

   /* Go To Top Button */
   #go-top { margin-left: -22px; }
   #go-top a {
   	width: 54px;
   	height: 54px;
      font-size: 18px;
      line-height: 54px;
   }


}

/* mobile narrow
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {

   /* mobile navigation
   -------------------------------------------------------------------- */
   #nav-wrap ul#nav { width: auto; float: none; }

   /* header styles
   -------------------------------------------------------------------- */
   header .banner-text h1 {
      font: 46px/1.1em 'Montserrat', sans-serif !important;      
      margin: 0 auto 14px auto;
      letter-spacing: 1px
   }
   header .banner-text h3 {
      font: 10px/1.9em 'Montserrat', sans-serif;
      width: 90%;
   }
  
   /* header social links */
   header .social { font-size: 14px;}
   header .social a li { padding: 0 10px; }

   .ham-menu {
      margin-left: 23px;
   }

   #resume .profile-pic {display: 'none' !important;}

   /* footer
   ------------------------------------------------------------------------ */

   /* social links */
   footer .social-links { font-size: 14px; }
   footer .social-links a li { padding: 0 10px; }   

}









